# Python cache and environment
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv

# Jupyter
.ipynb_checkpoints/

# Data files (big files)
input_data/
*.csv
*.npy
*.npz

# Models / checkpoints
vae_with_kl_annealing/output_checkpoints/
*.pt
*.h5

# Loss outputs
vae_with_kl_annealing/output_loss/
*.csv

# Indices / embeddings / analysis outputs
vae_with_kl_annealing/output_indices/
vae_with_kl_annealing/output_embeds/
vae_with_kl_annealing/output_analysis/
*.pkl

# Keep scripts inside vae_with_kl_annealing
!vae_with_kl_annealing/*.py
